{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="{% static 'price_app/index.css' %}">
    <title>Crypto Price</title>
</head>
<body>
<header id="header">
    <nav>
        <div class="icon upper"><span>Crypto</span>Price</div>
        <ul class="menu">
            <li><a class="primaryLink" href="#popularCryptos">Popular</a></li>
            <li><a class="primaryLink" href="#allCryptos">All Cryptos</a></li>
            <li><a class="primaryLink" href="#aboutUs">About Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="headerContent">
            <div class="left">
                <h1 class="upper"><span>Crypto</span>price</h1>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid corporis fuga illum
                    quibusdam quisquam veniam? Ipsum itaque temporibus voluptatum.
                </p>
                <form class="searchBox" action="" method="get">
                    <input placeholder="search a coin..."/>
                    <button id="searchButton">
                        <span class="material-symbols-sharp">search</span>
                    </button>
                </form>
            </div>
            <div class="right">
                <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
            </div>
        </div>
    </div>
</header>
<main class="container">
    <div class="mainContent">
        <section id="popularCryptos" class="cryptoSection">
            <h1 class="upper">Popular Cryptos</h1>
            <div class="cryptoContainer">
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/btc.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTCcccccccccccccc)</p>
                    <p class="price">1420.5</p>
                    <p class="priceDecrease">0.3%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
            </div>
        </section>
        <section id="allCryptos" class="cryptoSection">
            <h1 class="upper">All Cryptos</h1>
            <div class="cryptoContainer">
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/btc.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTCcccccccccccccc)</p>
                    <p class="price">1420.5</p>
                    <p class="priceDecrease">0.3%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
                <div class="cryptoCard">
                    <div class="icon">
                        <img src="{% static 'price_app/images/crypto.svg' %}" alt="">
                    </div>
                    <p class="name">Bitcoin(BTC)</p>
                    <p class="price">1420.5</p>
                    <p class="priceIncrease">0.2%</p> <!-- priceIncrease  priceDecrease -->
                </div>
            </div>
        </section>
    </div>
    <a href="#header" id="navigateToTop">
        <span class="material-symbols-sharp">
        keyboard_arrow_up
        </span>
    </a>
</main>
<footer>
    <div id="aboutUs" class="aboutUs">
        <a class="primaryLink" href="#"><span><img src="{% static 'images/github.svg' %}"></span>(front-end) M.A.Felegari</a>
        <a class="primaryLink" href="#"><span><img src="{% static 'images/github.svg' %}"></span>(back-end) M.M.ArbabPouri</a>
        <a class="primaryLink" href="#"><span><img src="{% static 'images/github.svg' %}"></span>(Source code) github</a>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid doloribus ducimus et fugiat id
        inventore iusto magnam numquam officia perferendis possimus provident quaerat, recusandae reiciendis, tempora
        ullam ut voluptatem.
    </div>
    <div class="copyright">
        © 2023-Now novinan rights reserved
    </div>
</footer>
<script src="{% static 'script/scripts.js' %}"></script>
</body>
</html>