{% load static %}
<footer>
    <div id="aboutUs" class="aboutUs">
        <a class="primaryLink" href="https://github.com/Arbabpouri"><span><img src="{% static 'images/github.svg' %}"></span>[Back-End] MohammadMahdi Arbabpouri</a>
        <a class="primaryLink" href="https://github.com/M-A-Felegari"><span><img src="{% static 'images/github.svg' %}"></span>[Front-End] MohammadAmin Felegari</a>
        <a class="primaryLink" href="https://github.com/Arbabpouri/Crypto-Price"><span><img src="{% static 'images/github.svg' %}"></span>[Source Code] github</a>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid doloribus ducimus et fugiat id
        inventore iusto magnam numquam officia perferendis possimus provident quaerat, recusandae reiciendis, tempora
        ullam ut voluptatem.
    </div>
    <div class="copyright">
        © 2023-Now novinan rights reserved
    </div>
</footer>